<!doctype html>
<html ng-cloak ng-csp ng-app="EnableClickApp">
<head>
<link rel="stylesheet" href="lib/angular-csp.css" />
<title>popup</title>
</head>
<body>
<div ng-controller="EnableClick">
  <ul>
    <li ng-repeat="setting in disableSettings">
      <input type="text" ng-model="setting.url" ng-change="change(setting)">
      <input type="submit" ng-click="delete(setting)" value="del">
    </li>
  </ul>
  <input type="submit" ng-click="add()" value="add">
</div>
<script src="lib/angular.js"></script>
<script src="popup.js"></script>
</body>
</html>
